In [1]:
import pandas as pd
data = pd.read_csv(r'E:/Files/titanic.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   Desc         891 non-null    object
 7   SibSp        891 non-null    int64
 8   Parch        891 non-null    int64
 9   Ticket       891 non-null    object
 10  Fare         891 non-null    float64
 11  Cabin        204 non-null    object
 12  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [7]:
data_new = data.drop(['PassengerId','Ticket','Cabin'],axis=1)

In [10]:
data_new['Desc'].unique()

array(['Adult', 'Teen', 'Child'], dtype=object)

In [11]:
data_new['Desc'].nunique()

3

In [12]:
import numpy as np
np.random.randint(64,127)

64

In [15]:
data_adult = data_new[data_new["Desc"] == "Adult"]

In [16]:
data_adult['Desc'].unique()

array(['Adult'], dtype=object)

In [23]:
data_clean = data_new.dropna()

In [29]:
data_clean.reset_index(drop=True).head(10)

,Survived,Pclass,Name,Sex,Age,Desc,SibSp,Parch,Fare,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,Adult,1,0,7.2500,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,Adult,1,0,71.2833,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,Adult,0,0,7.9250,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,Adult,1,0,53.1000,S
4,0,3,"Allen, Mr. William Henry",male,35.0,Adult,0,0,8.0500,S
5,0,1,"McCarthy, Mr. Timothy J",male,54.0,Adult,0,0,51.8625,S
6,0,3,"Palsson, Master. Gosta Leonard",male,2.0,Child,3,1,21.0750,S
7,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,Adult,0,2,11.1333,S
8,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,Teen,1,0,30.0708,C
9,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,Child,1,1,16.7000,S

In [35]:
data_new['Age'].fillna(data_new['Age'].mean()).head(10)

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [37]:
data_new['Desc']

0      Adult
1      Adult
2      Adult
3      Adult
4      Adult
       ...
886    Adult
887     Teen
888    Child
889    Adult
890    Adult
Name: Desc, Length: 891, dtype: object